body {
  margin: 0;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

.profile-image {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}

.profile-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.dark-mode {
  background-color: black;
  color: white;
}

.light-mode {
  background-color: white;
  color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: white;
}

nav .hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-right: 20px;
}

nav .hamburger-menu .bar {
  background-color: #fff;
  height: 3px;
  width: 25px;
  margin: 3px 0;
  transition: 0.3s;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.theme-toggle {
  cursor: pointer;
}

#sun {
  display: none;
}

.light-mode #sun {
  display: inline;
}

.light-mode #moon {
  display: none;
}

.section {
  padding-top: 60px;
  min-height: 100vh;
  opacity: 0;
  transform: translateY(20px); /* Move the section down by 20px */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}


.section.visible {
  opacity: 1;
  transform: translateY(0); /* Reset position */
}

.intro-text {
  text-align: center;
  font-size: 2rem;
  margin-top: 20vh;
}

#animated-text {
  color: #ff6347;
}

.skills-section {
  padding: 50px 20px;
}

.skills-section h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 120px;
  text-align: center;
}

.skill img {
  width: 50px;
  height: 50px;
  margin-bottom: 0.5rem;
  transition: transform 0.3s;
}

.skill p {
  font-size: 1rem;
  margin: 0;
}

.skill:hover img {
  transform: scale(1.1);
}

.projects-section {
  padding: 50px 20px;
}

.projects-section h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  background-color: #444;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s;
}

.project img {
  width: 100%;
  height: 200px; /* Set a fixed height for the images */
  object-fit: cover; /* Ensure the aspect ratio is maintained */
  border-radius: 8px;
}

.project-info {
  margin-top: 1rem;
}

.project-info h3 {
  font-size: 1.5rem;
  color: #ffa500;
}

.project-info .description {
  font-size: 1rem;
  margin: 0.5rem 0;
  color: #ddd;
}

.project-info .stack {
  font-size: 1rem;
  color: #ff6347;
}

.project-info .highlight {
  font-weight: bold;
}

.project:hover {
  transform: scale(1.05);
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.buttons .btn {
  background-color: #ffa500;
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.buttons .btn:hover {
  background-color: #ff6347;
}

.about-section {
  padding: 50px 20px;
}

.about-section h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.about-content {
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.about-content ul {
  list-style: none;
  padding: 0;
}

.about-content ul li {
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.about-content ul li img {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}

.about-content p, .about-content li {
  line-height: 1.6;
}

.highlight {
  color: #ffa500;
  font-weight: bold;
}

.contact-section {
  padding: 50px 20px;
  text-align: center;
}

.contact-section h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #ffa500;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
  background-color: #444;
  padding: 1rem;
  border-radius: 8px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

.contact-form .form-group {
  margin-bottom: 1rem;
  text-align: left;
}

.contact-form label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.contact-form input, .contact-form textarea {
  width: 98%;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
}

.contact-form .btn {
  background-color: #ffa500;
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 1rem;
  display: inline-block;
}

.contact-form .btn:hover {
  background-color: #ff6347;
}

footer {
  background-color: #222; /* Darker background for more contrast */
  color: white;
  text-align: center;
  padding: 0.5rem 0; /* Reduced padding for a shorter height */
  position: fixed;
  width: 100%;
  bottom: 0;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-icons {
  margin-bottom: 0.5rem; /* Reduced margin for better spacing */
}

.social-icons a {
  margin: 0 0.5rem;
  display: inline-block;
  font-size: 1.5rem; /* Adjust icon size */
  color: #ffa500; /* Set initial icon color */
  transition: color 0.3s, transform 0.3s; /* Smooth color and scale transitions */
}

.social-icons a:hover {
  color: #ff6347; /* Change color on hover */
  transform: scale(1.2); /* Scale up the icon on hover */
}

p {
  margin: 0;
  font-size: 0.9rem;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  background-color: #ff6347;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #e55347;
}

/* Mobile Styles for screens <= 768px */
@media (max-width: 768px) {
  nav ul {
    display: none; /* Hide nav links by default */
    flex-direction: column;
    width: 100%;
    background-color: #333;
    position: absolute;
    top: 60px;
    left: 0;
  }

  nav ul.active {
    display: flex; /* Show nav links when active */
  }

  nav .hamburger-menu {
    display: flex; /* Show hamburger menu */
  }

  nav ul li {
    margin: 1rem 0;
  }

  nav ul li a {
    color: #fff;
  }

  .hamburger-menu.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger-menu.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

/* Additional Mobile Styles for screens <= 500px */
@media (max-width: 500px) {
  nav {
    padding: 0.5rem; /* Adjust padding if needed */
  }

  nav .hamburger-menu .bar {
    width: 20px; /* Adjust bar width for smaller screens */
  }

  nav ul {
    top: 50px; /* Adjust position if needed */
  }

  .intro-text {
    font-size: 1.5rem; /* Adjust text size for smaller screens */
    margin-top: 10vh; /* Adjust margin-top to fit smaller screens */
  }

  .profile-image {
    position: absolute; /* Absolute positioning to move image */
    top: 50%; /* Keep image aligned vertically centered */
    right: 5%; /* Maintain image's right alignment */
    left: 50%;
    transform: translateY(-50%); /* Center image vertically */
    width: 100px; /* Adjust size for smaller screens */
    height: 100px;
    z-index: 1; /* Ensure the image is positioned correctly */
  }

  #animated-text {
    margin-top: 150px; /* Add margin-top to ensure text is visible below the image */
  }
}
